body{
    background-color:rgb(41, 80, 102);

}
.input-txt{
    background-color: rgb(41, 80, 102);
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    border-radius: 0px;
width : 50%;
    color:white;
    padding-top:  10px;
    padding-right:  10px;
    padding-bottom:  10px;
    padding-left:  10px;
    font-size: 20px;

}

.btn{
    background-color: #007bff; /* Primary blue */
    color: white; /* White text */
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3; /* Darker blue on hover */
}
.container{
    padding-top: 40px;
    text-align: center;

}
h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}