/*Chrome extension*/

#extension-h1 {
    color: white;
    font-size: 30px;

}


#extension-input-el {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #5f934100;
    margin-bottom: 4px;
    border-radius: 5px;
    outline: none;
}



#extension-label {
    color: white;
    display: flex;
    padding: 10px;
    padding-left: 0px;
    font-weight: bold;
}

.table-extension {
    overflow-y: scroll;
    height: 400PX;

}




.table-extension::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.table-extension::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #ffffff, #ffffff);
    /* green gradient */
    border-radius: 10px;
}


.extension-button-container {
    display: flex;
    justify-content: start;
    gap: 2px;
}

#extension-input-btn {
    padding: 8px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background: white;
    color: #111111;
    border: 1px solid white;
    font-weight: bold;
    width: fit-content;

}

#extension-tab-btn {
        padding: 8px;

    background: white;
    color: #111111;
    border: 1px solid white;
    font-weight: bold;
    border-radius: 0px;
    width: fit-content;


}

#extension-delete-btn {
        padding: 8px;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background: white;
    color: #111111;
    border: 1px solid white;
    font-weight: bold;
    width: fit-content;
}




#extension-ul-el {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

a {
    color: #ffffff;
}



/*Done*/