

/*Chrome extension*/

#extension-h1{
    color: white;
    font-size: 30px;
}
#extension-input-el {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #5f934100;
    margin-bottom: 4px;
    border-radius: 5px;
}
.extension-button-container{
    display: flex;
    justify-content: space-between;
    gap:2px;
}
#extension-input-btn {
    background: #111111;
    color: white;
        padding: 8px 0px;
    border: 1px solid #ffffff00;
    font-weight: bold;
    border-radius: 5px;
}

#extension-delete-btn{
     background: #111111;
    color: white;
        padding: 8px 0px;
    border: 1px solid #ffffff00;
    font-weight: bold;
        border-radius: 5px;

}

#extension-tab-btn{
 background: #111111;
    color: white;
    padding: 8px 0px;
    border: 1px solid #ffffff00;
    font-weight: bold;
        border-radius: 5px;

}




#extension-ul-el{
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

a {
    color: #ffffff;
}



/*Done*/