
/*Expense Tracker*/
#expense-main{
  padding: 20px;  /* Optional: Adds space around the content */
  padding-left: 0px;
  border-radius: 8px; /* Optional: Rounded corners */
  width: 100%;      /* Adjust the width as needed */
  max-width: 100%;
}
#expense-h1{
    color: white;
    font-size: 30px;
}
.expense-input-section{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

#expense-name, #amount, #expense-date, #expense-category{
    width: 100%;
    padding: 10px 10px 10px 10px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border: none;
    border-bottom: 3px solid rgb(235, 160, 48); 
    margin-top: 10px;
}
#expense-category{
    width: 100%;
}
#expense-submit-add{
    padding: 10px 50px 10px 50px;
    border: none;
    background-color: rgb(235, 160, 48);
    color: white;
    border-radius: 5px;
    margin-top: 15px;
    width: 50%;
}
#expense-submit-add:hover{
    background-color:  rgb(241, 238, 233);
    color: rgb(235, 160, 48);
    border: 1px solid rgb(235, 160, 48);
}

.expense-button-section{
    display: flex;
text-align: start;
justify-content: space-between;

width: 100%;
margin-top: 20px;

}

#expense-name:focus, 
#amount:focus, 
#expense-date:focus, 
#expense-category:focus{
border-bottom: 2px solid rgba(0, 0, 0, 0.623);
outline: none;
color: rgba(0, 0, 0, 0.623);
}  

#expense-search{
    padding: 5px 50px 10px 5px;
    height: 20px;
    border: none;
    border-bottom: 1px solid rgb(235, 160, 48);
    background-color:  rgb(241, 238, 233);
    color: rgb(235, 160, 48);
    border-radius: 0px;
    margin-top: 15px;
    margin-left: 0px;
    border-radius: 5px;
    width: 33%;
}

    #expense-search:focus {
        border-bottom: 2px solid rgba(0, 0, 0, 0.623); /* Make border thicker on focus */
        outline: none;  /* Remove default focus outline */
        color: rgba(0, 0, 0, 0.623); /* Optional: Change text color on focus */
    }


#expense-search::placeholder{
    color: rgb(235, 160, 48);
    
}
#expense-search-icon{
    color:rgb(235, 160, 48);
    margin-left: -30px;
    margin-top: 25px;
}
thead{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(235, 160, 48);
    color: white;
    border-radius: 5px;
}

.expense-table-section{
    margin-top: 20px;
    padding-left: 0px;
}
#expense-table{
    width: 90%;
    margin-top: 40px;
    padding-left: 0px;
    font-size: 15px;
    border-collapse: collapse;

}
#expense-table-body td{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 10px 10px 10px;
    border-bottom: 1px solid rgb(235, 160, 48);
}

/*Done*/