
#ge-search-bar{
    width: 70%; 
    padding: 15px; 
    border: 1px solid white; 
    background-color: rgba(27, 27, 27, 0.493); 
    border-radius: 5px; 
    color: white; 
    outline: none;
}
#ge-icon{
    color: rgb(255, 255, 255); 
    font-size: 30px; 
    padding: 10px;
}
.game-description{
    display: flex;
    margin-left: 5px;
    margin-top: 5px;

}
.ge-row{
    display: flex; 
    justify-content: space-between; 
    padding-left: 5px; 
    padding-right: 5px;
    margin-top: 5px;
}
#ge-genre{
    color: rgb(0, 0, 0); 
    background-color: white; 
    width: fit-content; 
    padding: 5px; 
    border-radius: 5px; 
    font-weight: bold;
}
#ge-genre-p{
    background-color: white;
    padding: 5px;
    color: black;
    font-weight: bold;
    margin-top: 3px;
    border-radius: 5px;
    

}
#movie-time{
    color: white; 
    width: fit-content; 
    padding: 0px; 
    border-radius: 5px; 
    font-weight: bold;
    font-size: 15px;
    margin-top: 8px;
}
#ge-rating{
    color: rgb(255, 255, 255); 
    background-color: white; 
    width: fit-content; 
    padding: 5px; 
    border-radius: 5px; 
    font-weight: bold;
}
#ge-rating-p{
    background-color: white;
    padding: 5px;
    color: black;
    font-weight: bold;
    margin-top: 3px;
    border-radius: 5px;
}
.ge-description{
    width: 100%; 
    padding: 5px;
        margin-top: 40px;


}
#h2-movie-name{
    color: white; 
    font-size: 25px; 
    font-weight: bold; 
    margin: 0px;
}
.ge-white-space{
    text-align: center;
    width: 96%; 
    height: 1px; 
    margin-top: 10px; 
    background-color: white;
}

#game-description{
    color: white; 
    text-align: left;
    margin-left: 5px;
}

#ge-image{
    margin-top: 13px;
    width: 150px;
        border: 1px solid white; 
        border-radius: 5px;

}