/*Instagram post design*/

#first-comment{
    font-weight: bold;
    
}

.ig-first-container{
    display: flex;
    justify-content: space-between;
    font-family: 'Pacifico';
    border:none;
    border-bottom: solid 3px rgb(236, 240, 241);
    padding: 0px 10px 0px 10px;
}

.ig-second-section{
    display: flex;
    background-color: white;
    padding: 0px 10px 0px 10px;


}
.ig-third-section{
    display: flex;
    margin-top: 20px;
    padding: 0px 10px 0px px;
  
}

#like-section{
    color: black;
    display: flex;
    font-weight: bold;
    margin-top: 10px;
    padding: 0px 10px 0px 10px;


}

#comment{
    font-size: 13;
    padding: 0px 10px 0px 10px;
    display: flex;
    
    
}
#ig-first-profile{
    margin-top: 30px;
    width: 10%;
    height: 10%;
    border-radius: 20px;
    

}
#ig-second-profile {
margin-top: 10px;
margin-right: 10px;
width: 10%;
border-radius: 50px;
}
#ig-third-profile{
    width:100%;
    margin-top: 10px;
}
#ig-p1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 13px;
    font-weight: bold;

}
#ig-p2{
    margin-top: -10px;
    display: flex;
    margin-left: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px; 
    line-height: 1.4;  

}

#love-icon, #message-icon , #send-icon{
    font-size: 25px; color: black;
    margin-left: 10px;
}

#love-icon, #love , #send-icon{
    font-size: 25px; color: black;
    margin-left: 10px;
}

.ig-icon-container {
    position: relative;
    display: inline-block;
}

.tooltip {
    position: absolute;
    bottom: 120%; /* Position above the icon */
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.ig-icon-container:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

/*Done*/
