/* Main Style */

body {
  background-color: rgb(247, 247, 247);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 5px;
  padding: 0px;
}

#main-h1 {
  text-align: center;
  font-size: 7vw;
  font-weight: bold;
  color: #6943FF;
}

.main,
.main-second-row,
.main-third-row,
.main-fourth-row,
.main-five-row,
.main-six-row,
.about-us {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  text-align: center;
}

/* Responsive Boxes */
.first,
.second,
.third,
.fourth,
.fifth,
.sixth,
.seven,
.eight,
.nine,
.ten,
.eleven,
.tweleve,
.thirteen,
.fourteen,
.fifteen,
.sixteen,
.seventeen,
.eighteen,
.nineteen,
.twenty,
.twentyone,
.twentytwo,
.twentythree,
.twentyfour,
.about-us-section {
  background-color: rgb(15, 15, 15);
  height: 550px;
  width: 320px;
  max-width: 95%;
  border-radius: 5px;
  padding: 0 5px 50px;
  box-sizing: border-box;
  flex: 1 1 22%;
}

/* Specific Box Styling */
.second {
  background-color: #ffffff;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);

}

.third {
  background-color: #23bd96;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);

}

.fourth {
  background-color: rgb(247, 12, 12);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);

}

.fifth,
.sixth,
.seven,
.eight {
  background-color: #181818;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);

}

.nine,
.ten,
.eleven,
.tweleve {
  background-color: #6943FF;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);

}

.thirteen,
.fourteen,
.fifteen {
  background-color: #1d3c77;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);

}


.sixteen {
  background-color: #1d3c77;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);

}

.seventeen,
.eighteen,
.nineteen,
.twenty {
  background-color: #2a8f8b;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);

}

.twentyone,
.twentytwo,
.twentythree
{
  background-color: #f52f15;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);

}

.twentyfour{
    background-color: #ffffff;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);

}
.about-us-section {
  background-color: #0a0a0a;
}

/* Media Queries */
@media (max-width: 1300px) {

  .first,
  .second,
  .third,
  .fourth,
  .fifth,
  .sixth,
  .seven,
  .eight,
  .nine,
  .ten,
  .eleven,
  .tweleve,
  .thirteen,
  .fourteen,
  .fifteen,
  .sixteen,
  .seventeen,
  .eighteen,
  .nineteen,
  .twenty,
  .twentyone,
  .twentytwo,
  .twentythree,
  .twentyfour,
  .about-us-section {
    flex: 1 1 30%;
  }
}

@media (max-width: 768px) {

  .first,
  .second,
  .third,
  .fourth,
  .fifth,
  .sixth,
  .seven,
  .eight,
  .nine,
  .ten,
  .eleven,
  .tweleve,
  .thirteen,
  .fourteen,
  .fifteen,
  .sixteen,
  .seventeen,
  .eighteen,
  .nineteen,
  .twenty,
  .twentyone,
  .twentytwo,
  .twentythree,
  .twentyfour,
  .about-us-section {
    flex: 1 1 45%;
  }
}

@media (max-width: 500px) {

  .first,
  .second,
  .third,
  .fourth,
  .fifth,
  .sixth,
  .seven,
  .eight,
  .nine,
  .ten,
  .eleven,
  .tweleve,
  .thirteen,
  .fourteen,
  .fifteen,
  .sixteen,
  .seventeen,
  .eighteen,
  .nineteen,
  .twenty,
  .twentyone,
  .twentytwo,
  .twentythree,
  .twentyfour,
  .about-us-section {
    flex: 1 1 100%;
  }
}

#main-id {
  font-size: 40px;
  color: rgb(19, 19, 19);
}

#about-us-h1 {
  color: white;
  font-size: 30px;
}

#about-us-p {
  color: white;
  font-size: 15px;
}

#dev-name{
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  color: rgb(197, 197, 197);
}

/* Done */