/* Main Style */

body {
    background-color: rgb(247, 247, 247);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 5px;
    padding: 0px;

}


  .main{
    text-align: center;
    display: flex;
    justify-content: space-between;
    gap: 10px;

    
  }


    .main-second-row {
    text-align: center;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
    
  }

     .main-third-row {
    text-align: center;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
    
  }
     .main-fourth-row {
    text-align: center;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
    
  }

      .main-five-row {
    text-align: center;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
    
  }
  .first {
    background-color: rgba(40, 59, 70, 0.555);
    height: 500px;
    width: 320px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
  }

  .second{
     background-color: rgba(40, 59, 70, 0.555);
    height: 500px;
    width: 320px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
  }

  .third{
     background-color: rgba(40, 59, 70, 0.555);
    height: 500px;
    width: 320px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
  }

  .fourth{
     background-color: rgba(40, 59, 70, 0.555);
    height: 500px;
    width: 320px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
  }

    .fifth{
     background-color: #181818;
    height: 500px;
    width: 320px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
  }
  
    .sixth{
     background-color: #181818;
    height: 500px;
    width: 320px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
  }
      .seven{
     background-color: #181818;
    height: 500px;
    width: 320px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
  }
    .eight{
     background-color: #181818;
    height: 500px;
    width: 320px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
  }

     .nine{
     background-color: #6943FF;
    height: 500px;
    width: 320px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
  }

      .ten{
     background-color: #6943FF;
    height: 500px;
    width: 320px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
  }

      .eleven{
     background-color: #6943FF;
    height: 500px;
    width: 320px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
  }

      .tweleve{
     background-color: #6943FF;
    height: 500px;
    width: 320px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
  }
    .thirteen{
     background-color: #262629;
    height: 500px;
    width: 320px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
  }
   .fourteen{
     background-color: #262629;
    height: 500px;
    width: 320px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
  }

    .fifteen{
     background-color: #262629;
    height: 500px;
    width: 320px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
  }
     .sixteen{
     background-color: #ffffff;
    height: 500px;
    width: 320px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
  }

   .seventeen{
     background-color: #23bd96;
    height: 500px;
    width: 320px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
  }


   .eighteen{
     background-color: #23bd96;
    height: 500px;
    width: 320px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
  }
 .nineteen{
     background-color: #23bd96;
    height: 500px;
    width: 320px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
  }

   .twenty{
     background-color: #23bd96;
    height: 500px;
    width: 320px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
  }
 .twentyone{
     background-color: #f52f15;
    height: 500px;
    width: 320px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
  }

   .twentytwo{
     background-color: #f52f15;
    height: 500px;
    width: 320px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
  }
  .twentythree{
     background-color: #f52f15;
    height: 500px;
    width: 320px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
  }  .twentyfour{
     background-color: #f52f15;
    height: 500px;
    width: 320px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
  }
  #main-id {
    font-size: 40px;
    color: rgb(19, 19, 19);
}


/* Done */