/*To do list app*/
#todo-main-h1 {
    color: white;
    font-size: 30px;
}
.todo-input-section{
    padding: 10px;
}
#input-todo {
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 10px;
    padding-right: 0px;
    margin-left: -5px;
    border-bottom: 1px solid black;
}

#todo-button-div {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

#todo-submit {
    padding-top: 9px;
    padding-right: 30px;
    padding-bottom: 9px;
    padding-left: 30px;
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    color: white;


}

#todo-delete-btn {
    padding-top: 9px;
    padding-right: 30px;
    padding-bottom: 9px;
    padding-left: 30px;
    background-color: rgb(218, 17, 17);
    border: none;
    border-radius: 5px;
    color: white;


}

#todo-table-div {
    padding-top: 50px;
    padding-left: 0px;
    padding-right: 0px;
}

#todo-table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;

}

#todo-th {
    background-color: rgb(5, 5, 5);
    border-radius: 5px;
}

/*Done*/