/*To do list app*/
#todo-main-h1{
color: white;
font-size: 30px; 
}
#input-todo{
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 10px;
    padding-right: 0px;
    margin-left: -5px;
    border-bottom: 1px solid black;
}
#todo-button-div{
    margin-top: 10px;
    display: flex;
}
#todo-submit{
background-color: rgb(0, 0, 0);
color: white;
border: none;
padding-top: px;
padding-right: 20px;
padding-bottom: 5px;
padding-left: 20px;
border-radius: 0px;
border: none;
border-bottom: 1px solid  rgb(57, 179, 57); 
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;

}
#todo-delete-btn{
    background-color: rgb(204, 33, 33);
color: white;
border: none;
padding-top: 5px;
padding-right: 20px;
padding-bottom: 5px;
padding-left: 20px;
border-radius: 0px;
border: none;
border-bottom: 1px solid rgb(204, 33, 33); 
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;

}
#todo-table-div{
    padding-top: 50px;
    padding-left: 0px;
    padding-right: 0px;
}
#todo-table{
   width: 100%;
   text-align: center;
   border-collapse: collapse;

}
#todo-th{
    background-color: rgb(5, 5, 5);
    border-radius: 5px;
}

/*Done*/