body{
    background-color: #111;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container{

    margin: auto;
    display: flex;
    flex-direction: column; /* Makes children stack vertically */
    justify-content: center;
    gap: 10px;
    background-color: hsla(0, 0%, 8%, 0);
    color: white;
    border-radius: 5px;
    width: 90vh;
    padding: 10px;
    margin-top: 0px;


}
h1{
    font-size: 90px;
}
.merge{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: rgba(44, 43, 43, 0.5);
    border: 1px solid white;
    padding: 10px;
    border-radius: 5px;


}
.merge-second{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: rgba(44, 43, 43, 0.5);
    border: 1px solid white;    border-radius: 5px;

    padding: 10px;

}
.merge-third{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: rgba(44, 43, 43, 0.5);
    border: 1px solid white;    padding: 10px;
    border-radius: 5px;

}
.text{
    margin-left: 10px;
    
}
.image{
    padding-left: 5px;
}
.image1{
    padding-left: 5px;

}
.image2{
    padding-left: 5px;

}
#image{
    width: 80px;
    border-radius: 50px;
}